.profileContainer {
    padding: 0 30px 30px;
    background-color: white;
    border: 1px solid #f5f5f5;

    .header {
        padding: 18px 0;
        border-bottom: 1px solid #f5f5f5;

        .headerLabelContainer {
            margin: 0;

            .headerLabel {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.6rem;
                text-transform: capitalize;
                color: #333;
            }
        }

        .headerTitleContainer {
            margin-top: 0.5rem;

            .headerTitle {
                font-size: 1.3rem;
                line-height: 1.3rem;
                color: #555;
            }
        }
    }
}

.label {
    color: rgba(85, 85, 85, 0.8);
    font-size: 1.3rem;
}

.item {
    color: #333;
    font-size: 1.3rem;
}

.avatarBox {
    border-left: 1px solid #f5f5f5;
    .avatar {
        display: flex;
        justify-content: center;
        margin: 20px 0;

        .avatarContainer {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #975252;
        }
    }
}
